---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'
import {getLangFromUrl, useTranslatedPath, useTranslations} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const homePath = translatePath('/');

const DEVELOPMENT = [
	{
		name: t('tools.php-storm'),
		description: t('tools.php-storm.description'),
		href: 'https://www.jetbrains.com/phpstorm/',
		iconPath: 'phpstorm',
		iconBgColour: '#B543F2'
	},
	{
		name: t('tools.docker'),
		description: t('tools.docker.description'),
		href: 'https://www.docker.com/',
		iconPath: 'docker',
		iconBgColour: '#1D63ED'
	},
	{
		name: t('tools.gitlab'),
		description: t('tools.gitlab.description'),
		href: 'https://about.gitlab.com/',
		iconPath: 'gitlab',
		iconBgColour: '#2C2C32'
	},
	{
		name: t('tools.jest'),
		description: t('tools.jest.description'),
		href: 'https://jestjs.io/',
		iconPath: 'jest',
		iconBgColour: '#06A67F'
	},
	{
		name: t('tools.postman'),
		description: t('tools.postman.description'),
		href: 'https://www.postman.com/',
		iconPath: 'postman',
		iconBgColour: '#e8783c'
	}
]

const DESIGN = [
	{
		name: t('tools.figma'),
		description: t('tools.figma.description'),
		href: 'https://www.figma.com/',
		iconPath: 'figma',
		iconBgColour: '#000001'
	},
	{
		name: t('tools.balsamiq'),
		description: t('tools.balsamiq.description'),
		href: 'https://balsamiq.com/',
		iconPath: 'balsamiq',
		iconBgColour: '#000001'
	}
]
---

<PageLayout meta={{ title: t('tools.title') }}>
	<div class='w-full'>
		<Button title={t('generic.back')} href={homePath} style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>{t('tools.title')}</h1>
				<p>{t('tools.description')}</p>
			</div>

			<ToolSection title='Dévelopment' tools={DEVELOPMENT} />
			<ToolSection title='Design' tools={DESIGN} />
		</div>
	</div>
</PageLayout>
