---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'

const DEVELOPMENT = [
	{
		name: 'PHP Storm',
		description: 'IDE',
		href: 'https://code.visualstudio.com/',
		iconPath: 'phpstorm',
		iconBgColour: '#B543F2'
	},
	{
		name: 'Docker',
		description: 'Conteneurs',
		href: 'https://www.docker.com/',
		iconPath: 'docker',
		iconBgColour: '#1D63ED'
	},
	{
		name: 'Gitlab',
		description: 'Hébergement Git',
		href: 'https://about.gitlab.com/',
		iconPath: 'gitlab',
		iconBgColour: '#2C2C32'
	},
	{
		name: 'ChatGPT',
		description: 'IA',
		href: 'https://chat.openai.com/',
		iconPath: 'chatgpt',
		iconBgColour: '#06A67F'
	}
]

const DESIGN = [
	{
		name: 'Figma',
		description: 'Outil de conception orientée visuelle',
		href: 'https://www.figma.com/',
		iconPath: 'figma',
		iconBgColour: '#000001'
	},
	{
		name: 'Balsamiq',
		description: 'Outil de conception orientée fonctionnelle',
		href: 'https://balsamiq.com/',
		iconPath: 'balsamiq',
		iconBgColour: '#000001'
	}
]
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Retour' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Outils</h1>
				<p>Outils et logiciels que j'utilise quotidiennement</p>
			</div>

			<ToolSection title='Dévelopment' tools={DEVELOPMENT} />
			<ToolSection title='Design' tools={DESIGN} />
		</div>
	</div>
</PageLayout>
