---
import type { MarkdownHeading } from 'astro'
import { generateToc } from '@/utils'
import {getLangFromUrl,useTranslations} from "../../i18n/utils";
import TOCHeading from './TOCHeading.astro'

interface Props {
	headings: MarkdownHeading[]
}

const { headings } = Astro.props

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const toc = generateToc(headings)
---

<aside class='sticky top-20 order-2 -me-28 hidden basis-60 lg:flex lg:flex-col'>
	<h2 class='font-semibold'>{t('generic.table-of-contents')}</h2>
	<ul class='text-card-foreground'>
		{toc.map((heading) => <TOCHeading heading={heading} />)}
	</ul>
</aside>
